image: zephyrprojectrtos/zephyr-build:v0.24.7

variables:
  ZEPHYR_BASE: "/builds/beagleconnect/zephyr/zephyr"

build:
  stage: build
  script:
    - rm -rf ../.west
    - west init -l .
    - west update
    - west zephyr-export
    - pip3 install -r scripts/requirements-base.txt
    - pip3 install -r ../bootloader/mcuboot/scripts/requirements.txt
    - ./ci-build-and-copy.sh play blinky beagleplay_cc1352 samples/basic/blinky
    - ./ci-build-and-copy.sh play wpanusb beagleplay_cc1352 ../modules/wpanusb
    - ./ci-build-and-copy.sh play micropython beagleplay_cc1352 ../modules/micropython/ports/zephyr
    - cp boards/arm/beagle_play_cc1352/cc2538-bsl.py build/play/
    - ./ci-build-and-copy.sh freedom blinky beagleconnect_freedom samples/basic/blinky
    - ./ci-build-and-copy.sh freedom wpanusb beagleconnect_freedom ../modules/wpanusb
    - ./ci-build-and-copy.sh freedom sensortest beagleconnect_freedom samples/boards/beagleconnect_freedom/sensortest
    - ./ci-build-and-copy.sh freedom mcuboot beagleconnect_freedom ../bootloader/mcuboot/boot/zephyr
    - ./ci-build-and-copy.sh freedom mcumgr beagleconnect_freedom samples/subsys/mgmt/mcumgr/smp_svr
    - ./ci-prepend-mcuboot.sh freedom mcumgr
    - ./ci-build-and-copy.sh freedom micropython beagleconnect_freedom ../modules/micropython/ports/zephyr
    - ./ci-prepend-mcuboot.sh freedom micropython
    - ./ci-build-and-copy.sh freedom-c5 mcuboot beagleconnect_freedom@c5 ../bootloader/mcuboot/boot/zephyr
    - ./ci-build-and-copy.sh freedom-c5 mcumgr beagleconnect_freedom@c5 samples/subsys/mgmt/mcumgr/smp_svr
    - ./ci-prepend-mcuboot.sh freedom-c5 mcumgr
    - ./ci-build-and-copy.sh freedom-c5 wpanusb beagleconnect_freedom@c5 ../modules/wpanusb
    - ./ci-prepend-mcuboot.sh freedom-c5 wpanusb
    - ./ci-build-and-copy.sh freedom-c5 bcfserial beagleconnect_freedom@c5 "../modules/wpanusb -- -DOVERLAY_CONFIG=overlay-bcfserial.conf -DDTC_OVERLAY_FILE=bcfserial.overlay"
    - ./ci-prepend-mcuboot.sh freedom-c5 bcfserial
    - cp boards/arm/beagle_bcf/cc2538-bsl.py build/freedom/
  artifacts:
    paths:
      - build
